# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.class
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Data files
*.h5
*.hdf5
*.tfrecords
*.zip
datasets/
raw_data/

# Model files (if large)
*.pth
*.h5
*.pb
